h1{
    color:blue;
}

body{
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

nav{
    background-color: aqua;
}

.container {
    background-color: rosybrown;

    display: grid;
    grid-template-columns: 20% 80%;
}

aside {
    background-color: cadetblue;
}

main {
    background-color: bisque;
}

.messages{
    color: red;
}

@media screen and (max-width: 480px){
    .container{
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}